.clientWrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;

  .clientInner {
    width: 100%;
    max-width: 1012px;
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 40px;
    position: relative;

    img {
      width: 100%;
    }

    .row {
      margin: 0;
    }
  }
}