.reviewWrap {
  position: relative;
  background-color: #f3f5f6;
  display: inline-block;
  width: 100%;
  vertical-align: top;

  .infoInner {
    width: 100%;
    max-width: 1012px;
    display: block;
    margin: 0 auto;
    min-height: 450px;
    z-index: 1;
    position: relative;
    padding-top: 80px;
    padding-bottom: 60px;

    .reviewContainerInfo {
      margin: 10px 0;

      img {
        float: left;
        margin-right: 10px;
      }

      .title {
        font-size: 24px;
      }

      .info {
        font-size: 18px;
      }
    }/*end reviewContainerInfo*/
  }/*end infoInner*/

  @media (max-width: 430px) {
    .infoInner {
      padding-top: 40px;
    }
  }
}/*end reviewWrap*/