// SCSS Bits and Variables.
//-------------------------------- VARIABLES

$white:   #ffffff;
$black:   #000000;
$green:   #00ff00;
$orange:  #ffa500;
$ccc :    #ccc;
$blue:    #0000ff;
$red:     #ff0000;
//end basic color

//// here start color
$advantage-bg:  #f3f5f6;
$advantage-bl1: #edf0f1;
$advantage-bl2: #e8ebed;
$advantage-bl3: #e2e7e8;
$advantage-bl4: #dce2e4;

$iconAfter: #d6dddf;
$blue-light: #1998D9;

$postcolor : #cc4242;

// end color

// // Defining values
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);


// // Defining values
// $screen-sm-min: 768px;
// $screen-xs-max: ($screen-sm-min - 1);
// $screen-md-min: 992px;
// $screen-sm-max: ($screen-md-min - 1);
// $screen-lg-min: 1200px;
// $screen-md-max: ($screen-lg-min - 1);

// // Usage
// @media (max-width: $screen-xs-max) { ... }
// @media (min-width: $screen-sm-min) { ... }
// @media (max-width: $screen-sm-max) { ... }
// @media (min-width: $screen-md-min) { ... }
// @media (max-width: $screen-md-max) { ... }
// @media (min-width: $screen-lg-min) { ... }

// added code for bootstrap 3 , for a row with no padding between columns.
.row-no-padding {
  [class*="col-"] {
    padding-left: 0 ;
    padding-right: 0 ;
    margin-right: 0 ;
    margin-left:  0 ;
  }
}

//--------------------------------- FONTS
